<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Player Database</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<div class="container-fluid">
  <div class="col-sm-10 ">
    <h1>Player Database</h1>

    <p>Welcome to the <em>Player Database</em>
    <p>Displaying {{object_list.count}} results</p>

    <form method="GET">
      <tr><td>Position:</td>
        <td>
          <select name='position'>
            <option>QB</option>
            <option>WR</option>
            <option>FB</option>
            <option>RB</option>
            <option>TE</option>
            <option>OT</option>
            <option>OG</option>
            <option>C</option>
            <option>S</option>
            <option>CB</option>
            <option>ILB</option>
            <option>OLB</option>
            <option>DE</option>
            <option>DT</option>
            <option>LS</option>
            <option>P</option>
            <option>K</option>
          </select>
        </td>
        <td><input type="submit" value='Submit'></td></tr>
    </form>

    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Height</th> 
        <th>Weight</th>
        <th>Team</th>
        <th>Conference</th>
        <th>Division</th>
        <th>Year</th>
        <th>Hometown</th>
      </tr>
      {% for player in object_list %}
      <tr>
        <td>{{player.name}}</td>
        <td>{{player.position}}</td> 
        <td>{{player.height}}</td> 
        <td>{{player.weight}}</td> 
        <td>{{player.team}}</td> 
        <td>{{player.conference}}</td> 
        <td>{{player.division}}</td> 
        <td>{{player.year}}</td> 
        <td>{{player.hometown}}</td> 
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

</body>
</html>